.page-wrapper{
  width: 100%;
  min-height: 500px;
}
#content-wrapper{
    background: #f6f8fa;
    overflow-y: scroll;
    max-height: 500px;
}
.script-name{
  margin-bottom: 20px;
}

.tab-content, .tab-panel{
    width: 100%;
    height: 100%;
}
.tab-content{
    padding: 15px;
}
.tab-panel{
    background: white;
}
.question-nav{
    margin: 0 15px;
    background: white;
    padding: 15px;
}
.nav-tabs .nav-link {
    border-color: #e9ecef #e9ecef #dee2e6;
}

/**  STYLE 11 */
#content-wrapper::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
} 
#content-wrapper::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
  border: 1px solid #ccc;
}

#content-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(to left, #aaa, #e4e4e4);
  border: 1px solid #aaa;
}

#content-wrapper::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

#content-wrapper::-webkit-scrollbar-thumb:active {
  background: linear-gradient(to left, #22ADD4, #1E98BA);
}
.table-title {
  padding-bottom: 10px;
  margin: 0 0 10px;
}
.table-title .add-new {
  float: right;
  height: 35px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  line-height: 13px;
}
.input-field{
  position: relative;
}
.input-field .icon-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 100%;
}
.input-field input {
  height: 100%;
  border: 0;
  background: #fff;
  display: block;
  width: 100%;
  padding: 10px 32px 10px 70px;
  font-size: 18px;
  color: #666;
  border-radius: 3px;
  color: #555;
}
.input-field .icon-wrap svg {
  width: 2rem;
  height: 2rem;
  fill: #ccc;
}
.modal{
  background-color: rgba(0,0,0,0.4);
}
.classes-box, .scripts-box{
  max-height: 150px;
  overflow-y: scroll;
}
.check-box, .dropdown-box{
  padding: 5px 15px;
}
.modal-content select{
  width: 100%;
}
.check-box div, .dropdown-box div{
  margin: 5px 0px;
}
.check-box label, .dropdown-box label{
  margin: 0px 10px;
}
