
/* Login Page */

.login-wrapper{
    height: 100%;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
    margin: 0;
}

.login-container {
    width: 420px;
    padding: 10% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 420px;
    margin: 0 auto 100px;
    padding: 0px 45px 45px 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form img {
      padding: 20px;
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #43A047;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #4CAF50;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  
  


  
  /* Teacher Page */

  .sidebar {
    width: 90px !important;
    background-color: #212529;
    min-height: calc(100vh - 56px);
  }
  
  .sidebar .nav-item:last-child {
    margin-bottom: 1rem;
  }
  
  .sidebar .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 1rem;
    width: 90px;
  }
  
  .sidebar .nav-item .nav-link span {
    font-size: 0.65rem;
    display: block;
  }
  
  .sidebar .nav-item .dropdown-menu {
    position: absolute !important;
    -webkit-transform: none !important;
    transform: none !important;
    left: calc(90px + 0.5rem) !important;
    margin: 0;
  }
  
  .sidebar .nav-item .dropdown-menu.dropup {
    bottom: 0;
    top: auto !important;
  }
 
  
  .sidebar .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .sidebar .nav-item .nav-link:active, .sidebar .nav-item .nav-link:focus, .sidebar .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  
  .sidebar.toggled {
    width: 0 !important;
    overflow: hidden;
  }
 
  @media (min-width: 768px) {
    .sidebar {
      width: 225px !important;
    }
    .sidebar .nav-item .nav-link {
      display: block;
      width: 100%;
      text-align: left;
      padding: 1rem;
      width: 225px;
    }
    .sidebar .nav-item .nav-link span {
      font-size: 1rem;
      display: inline;
    }
    .sidebar .nav-item .dropdown-menu {
      position: static !important;
      margin: 0 1rem;
      top: 0;
    }
    .sidebar.toggled {
      overflow: visible;
      width: 90px !important;
    }
    .sidebar.toggled .nav-item:last-child {
      margin-bottom: 1rem;
    }
    .sidebar.toggled .nav-item .nav-link {
      text-align: center;
      padding: 0.75rem 1rem;
      width: 90px;
    }
    .sidebar.toggled .nav-item .nav-link span {
      font-size: 0.65rem;
      display: block;
    }
    .sidebar.toggled .nav-item .dropdown-menu {
      position: absolute !important;
      -webkit-transform: none !important;
      transform: none !important;
      left: calc(90px + 0.5rem) !important;
      margin: 0;
    }
    .sidebar.toggled .nav-item .dropdown-menu.dropup {
      bottom: 0;
      top: auto !important;
    }
    .sidebar.toggled .nav-item.dropdown .dropdown-toggle::after {
      display: none;
    }
  }
  #wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #wrapper #content-wrapper {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 80px;
  }
  .container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }