#content-wrapper{
    background: #f6f8fa;
}
.tab-content, .tab-panel{
    width: 100%;
    height: 100%;
}
.tab-content{
    padding: 15px;
}
.tab-panel{
    background: white;
}
.question-nav{
    margin: 0 15px;
    background: white;
    padding: 15px;
}
.nav-tabs .nav-link {
    border-color: #e9ecef #e9ecef #dee2e6;
}
